<div>
    <header>
        <div class="logo">
            <a href="/">
                <span class="logo-text">Amazing</span>
                <div class="logo-arrow"></div>
            </a>
        </div>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle menu-icon" id="burger-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </label>
        <nav id="menu">
            <ul class="desktop-menu">
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
            <ul class="mobile-menu">
                <li><a href="/index" class="burger-link">Home</a></li>
                <li><a href="/login" class="burger-link">Login</a></li>
                <li><a href="/register" class="burger-link">Register</a></li>
                <li><a href="/cart" class="burger-link">Cart</a></li>
                <li><a href="/profile" class="burger-link">Profile</a></li>
            </ul>
        </nav>
    </header>
</div>