<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../../public/js/index.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <span class="logo-text">Amazing</span>
                <div class="logo-arrow"></div>
            </a>
        </div>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle menu-icon" id="burger-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </label>
        <nav id="menu">
            <ul class="desktop-menu">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./register.html">Register</a></li>
                <li><a href="./cart.html">Cart</a></li>
                <li><a href="./profile.html">Profile</a></li>
            </ul>
            <ul class="mobile-menu">
                <li><a href="./index.html" class="burger-link">Home</a></li>
                <li><a href="./login.html" class="burger-link">Login</a></li>
                <li><a href="./register.html" class="burger-link">Register</a></li>
                <li><a href="./cart.html" class="burger-link">Cart</a></li>
                <li><a href="./profile.html" class="burger-link">Profile</a></li>
            </ul>
        </nav>
    </header>